@use "./override-element-ui.scss";
body,
html {
  font-size: 14px;
}

body {
  font-family: Microsoft Yahei, Lucida Grande, Lucida Sans Unicode, Helvetica,
    Arial, Verdana, sans-serif;
  line-height: 1.6;
  background-color: #fff;
  position: static !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol,
ul {
  list-style-type: none;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
}

.person_body {
  border: 1px solid #f5f5f5;
  height: 500px;
}
.tree_nav span {
  display: inline-block;
  padding-right: 10px;
  margin-right: 5px;
  max-width: 6em;
  color: #38adff;
  font-size: 12px;
  cursor: pointer;
  background: url(../../images/antflow/right.png) no-repeat right center;
}
.tree_nav span:last-of-type {
  background: none;
}
.person_tree {
  padding: 10px 12px 0 8px;
  width: 280px;
  height: 90%;
  border-right: 1px solid #f5f5f5;
}
.person_tree input {
  padding-left: 22px;
  width: 210px;
  height: 30px;
  font-size: 12px;
  border-radius: 2px;
  border: 1px solid #d5dadf;
  background: url(../../images/antflow/list_search.png) no-repeat 10px center;
  background-size: 14px 14px;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input {
  text-indent: 10px;
}

select {
  text-indent: 8px;
}

.radio_box a,
.check_box a {
  font-size: 12px;
  position: relative;
  padding-left: 20px;
  margin-right: 30px;
  line-height: 25px;
  cursor: pointer;
  color: #333;
  white-space: pre;
  word-break: normal;
}

.check_box.not a:hover {
  color: #333;
}

.check_box.not a::before,
.check_box.not a:hover::before {
  border: none;
}

.check_box.not.active {
  background: #f3f3f3;
}

.radio_box a:hover::before,
.check_box a:hover::before {
  border: 1px solid #46a6fe;
}

.radio_box a::before,
.check_box a::before {
  position: absolute;
  width: 14px;
  height: 14px;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  left: 0;
  top: 1px;
  content: "";
}

.radio_box a::before {
  border-radius: 50%;
}

.check-dot.active::after,
.radio_box a.active::after,
.check_box a.active::after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  content: "";
}

.radio_box a.active::after {
  background: #46a6fe;
}

.check_box a.active::after {
  background: url(../../images/antflow/check_box.png) no-repeat center;
}
