<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="mx" converterClass="com.sto.trackingapi.configs.logconfig.CustomMessageConverter" />
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="APP_NAME" value="antflow"/>
    <property name="LOG_LEVEL" value="INFO"/>
    <property name="user.home" value="C:/Log"/>
    <property name="LOG_ROOT_PATH" value="${user.home}"/>
    <!--应用业务日志统一打印到 ${LOG_ROOT_PATH}/${APP_NAME}/logs下面 -->
    <property name="LOG_PATH" value="${LOG_ROOT_PATH}/${APP_NAME}/logs"/>
    <!--应用业务埋点日志统一打印到 ${LOG_ROOT_PATH}/{appname}/monitor/biz_logs/下面 -->
    <property name="M_LOG_PATH" value="${LOG_ROOT_PATH}/${APP_NAME}/monitor/biz_logs"/>
    <!--中间件日志统一打印到 ${LOG_ROOT_PATH}/logs下面 -->
    <property name="MW_LOG_PATH" value="${LOG_ROOT_PATH}/logs"/>
    <property name="no_file_pattern"
              value="%boldGreen(%d{MM-dd HH:mm:ss.SSS}) %level %highlight([%X{ruid}]) [%thread] %cyan(%c) %blue([%file:%line]) %msg%n"/>
    <property name="file_pattern"
              value="%boldGreen(%d{MM-dd HH:mm:ss.SSS}) %level %highlight([%X{ruid}]) [%thread] %c [%file:%line] %msg%n"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${no_file_pattern}</pattern>
        </encoder>
    </appender>


    <appender name="errorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/error.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${no_file_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="sqlAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/sql.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>

        <encoder>
            <pattern>${file_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="slowSQLAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/slowsql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/slowsql.log.%d{yyyy-MM-dd}.zip</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>error</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>${file_pattern}</pattern>
        </encoder>
    </appender>

    <logger name="log.dao" level="debug" additivity="false">
        <appender-ref ref="sqlAppender"/>
        <appender-ref ref="errorAppender"/>
    </logger>
    <logger name="com.baomidou.mybatisplus.plugins" level="error" additivity="false">
        <appender-ref ref="slowSQLAppender"/>
    </logger>

    <logger name="org.openoa.AntFlowApplication" level="${LOG_LEVEL}" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>
    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
    <logger name="com.alibaba" level="error" additivity="false"/>
</configuration>