<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper">
    <!--employeeMap can be implement or not,if not,you can write just like fieldxx as userName in the sql-->
    <resultMap id="employeeMap" type="org.openoa.base.entity.Employee">
        <id column="id" property="id"/>
        <result column="department_id" property="departmentId"/>
        <result column="user_name" property="username"/>
        <result column="mobile" property="mobile"/>
        <result column="email" property="email"/>
        <result column="head_img" property="headImg"/>
        <result column="mobile_is_show" property="mobileIsShow"/>
        <result column="leader_id" property="leaderId"/>
        <result column="is_del" property="isDel"/>
        <result column="hrbp_id" property="hrbpId"/>
        <result column="path" property="path"/>
    </resultMap>
    <!--change the table name and field name if needed-->
    <sql id="queryUserByNameFuzzy">
        select id,user_name as name from t_user
        <where>
            <if test="user_name != null and user_name != ''">
                <bind name="user_name" value="'%' + user_name + '%'" />
                and  user_name like #{user_name}
            </if>
        </where>
    </sql>
    <!--this sql must be rewritten-->
    <sql id="queryUserByIds">
        select id,user_name as name from t_user
        <where>
            <if test="userIds != null and userIds.size() > 0">
                id in
                <foreach collection="userIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>
    <sql id="findEmployeeInfoById">
        select id,user_name,mobile,email,head_img,mobile_is_show,leader_id,is_del,hrbp_id,path from t_user
        <where>
            <if test="employeeId != null ">
                id = #{employeeId}
            </if>
        </where>
    </sql>
    <sql id="findEmployeeInfoByIds">
        select id,user_name,mobile,email,head_img,mobile_is_show,leader_id,is_del,hrbp_id,path from t_user
        <where>
            <if test="employeeIds != null and employeeIds.size() > 0">
                id in
                <foreach collection="employeeIds" item="employeeId" open="(" separator="," close=")">
                    #{employeeId}
                </foreach>
            </if>
        </where>
    </sql>
    <sql id="queryEffectiveEmployeeCount">
        select count(1) from t_user
        <where>
            <if test="employeeId != null">
                id = ${employeeId}
            </if>
            <if test="employeeId == null">
                1=2
            </if>
        </where>
    </sql>
    <sql id="queryRoleByIds">
        select id,role_name as roleName from t_role
        <where>
            <if test="roleIds != null and roleIds.size() > 0">
                id in
                <foreach collection="roleIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>
    <sql id="queryUserByRoleIds">
        select tu.id,tu.user_name as userName
        from t_user tu
        left join t_user_role tur on tu.id = tur.user_id
        <where>
            <if test="roleIds != null and roleIds.size() > 0">
                tur.role_id in
                <foreach collection="roleIds" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </sql>
    <!--dummy sql for test-->
    <sql id="getLevelLeadersByEmployeeIdAndTier">
        select id,user_name as name from
        (SELECT distinct tu.*
        FROM (
        SELECT CAST(SUBSTRING_INDEX(SUBSTRING_INDEX(path, '/', n), '/', -1) AS UNSIGNED) AS dept_id
        FROM t_department
        JOIN (
        SELECT 1 AS n UNION ALL
        SELECT 2 UNION ALL
        SELECT 3 UNION ALL
        SELECT 4 UNION ALL
        SELECT 5 UNION ALL
        SELECT 6 UNION ALL
        SELECT 7 UNION ALL
        SELECT 8 UNION ALL
        SELECT 9
        ) AS numbers
        WHERE path ='/3/4/5/6/7/8'
        ) AS path_ids
        JOIN t_department_employee e
        ON path_ids.dept_id = e.department_id
        JOIN t_department d
        ON path_ids.dept_id = d.id
        join  t_user tu on tu.id=e.employee_id)tmp
    </sql>
    <sql id="getHrpbByEmployeeId">
        select id,user_name as name from t_user where id=
        (select hrbp_id from t_user
        <where>
            <if test="employeeId != null">
                id = #{employeeId}
            </if>
        </where>)
    </sql>
    <sql id="getDirectLeaderByEmployeeId">
       select id,user_name as name from t_user where id =(
        select leader_id from t_user
        <where>
            <if test="employeeId != null">
                id = #{employeeId}
            </if>
        </where>
        )
    </sql>
    <!--only id and name is needed,you only need change the table name and field name if needed-->
    <sql id="getSubDepartmentsByEmpId">
        select id,name from t_department
        <where>
            <if test="employeeId != null">
                id = #{employeeId}
            </if>
        </where>
    </sql>
    <sql id="getDepartmentByEmployeeId">
        select id,name from t_department
        <where>
            <if test="employeeId != null">
                id = #{employeeId}
            </if>
        </where>
    </sql>
    <sql id="getLeaderByLeventDepartment">
        select tu.id,tu.user_name as name
        from t_user tu
        inner join t_department_employee tde on tu.id=tde.employee_id
        inner join t_department td on tde.department_id=td.id and tde.is_leader
        where td.level = #{assignLevelGrade}
    </sql>
</mapper>