<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="org.openoa.common.mapper.BpmVariableMultiplayerMapper">


    <resultMap id="BaseResultMap"
               type="org.openoa.common.entity.BpmVariableMultiplayer">
        <id column="id" property="id"/>
        <result column="variable_id" property="variableId"/>
        <result column="element_id" property="elementId"/>
        <result column="element_name" property="elementName"/>
        <result column="collection_name" property="collectionName"/>
        <result column="sign_type" property="signType"/>
        <result column="remark" property="remark"/>
        <result column="is_del" property="isDel"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, variable_id AS variableId, element_id AS elementId,
		element_name AS
		elementName, collection_name AS collectionName,
		sign_type AS signType,
		remark, is_del AS isDel, create_user AS
		createUser, create_time AS
		createTime, update_user AS updateUser,
		update_time AS updateTime
    </sql>

    <select id="isMoreNode"
            resultType="org.openoa.common.entity.BpmVariableMultiplayer">
        SELECT a.*,c.undertake_status AS undertakeStatus
        FROM t_bpm_variable_multiplayer a
                 LEFT JOIN t_bpm_variable b ON a.`variable_id` = b.`id`
                 LEFT JOIN `t_bpm_variable_multiplayer_personnel` c ON a.id =
                                                                       c.variable_multiplayer_id
        WHERE a.`element_id` =
              #{elementId}
          AND b.`process_num` = #{processNum}

    </select>

    <sql id="common_assignee_query_sql">
        select ${selectfield1}  from t_bpm_variable tbv left join t_bpm_variable_single tbvs  on tbvs.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvs.${wherefield}=#{whereValue} and tbvs.assignee_name is not null
        union all
        select ${selectfield2} from t_bpm_variable tbv
        left join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        left join t_bpm_variable_multiplayer_personnel tbvmp on tbvmp.variable_multiplayer_id=tbvm.id
        where tbv.process_num=#{processNum} and tbvm.${wherefield}=#{whereValue} and tbvmp.assignee_name is not null
    </sql>

    <sql id="common_query_sql">
        select ${selectfield1}  from t_bpm_variable tbv inner join t_bpm_variable_single tbvs  on tbvs.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvs.${wherefield}=#{whereValue}
        union all
        select ${selectfield2} from t_bpm_variable tbv
        left join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvm.${wherefield}=#{whereValue}
    </sql>
    <select id="getVarNameByElementId" resultType="java.lang.String">
        <bind name="whereValue" value="_parameter.elementId" />
       <include refid="common_query_sql">
           <property name="selectfield1" value="tbvs.assignee_param_name as variablename"/>
           <property name="selectfield2" value="tbvm.collection_name as variablename"/>
           <property name="wherefield" value="element_id"/>
       </include>
    </select>
    <select id="getAssigneeByElementId" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        <bind name="whereValue" value="_parameter.elementId" />
        <include refid="common_assignee_query_sql">
            <property name="selectfield1" value="tbvs.assignee as id,tbvs.assignee_name as name"/>
            <property name="selectfield2" value="tbvmp.assignee as id,tbvmp.assignee_name as name"/>
            <property name="wherefield" value="element_id"/>
        </include>
    </select>

    <select id="getAssigneeByNodeId" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        <bind name="whereValue" value="_parameter.nodeId" />
        <include refid="common_assignee_query_sql">
            <property name="selectfield1" value="tbvs.assignee as id,tbvs.assignee_name as name"/>
            <property name="selectfield2" value="tbvmp.assignee as id,tbvmp.assignee_name as name"/>
            <property name="wherefield" value="node_id"/>
        </include>
    </select>

    <select id="getNodeIdByElementId" resultType="java.lang.String">
        <bind name="whereValue" value="_parameter.elementId" />
        <include refid="common_query_sql">
            <property name="selectfield1" value="tbvs.node_id"/>
            <property name="selectfield2" value="tbvm.node_id"/>
            <property name="wherefield" value="element_id"/>
        </include>
    </select>
    <select id="getElementIdByNodeId" resultType="java.lang.String">
        <bind name="whereValue" value="_parameter.nodeId" />
        <include refid="common_query_sql">
                <property name="selectfield1" value="tbvs.element_id"/>
                <property name="selectfield2" value="tbvm.element_id"/>
                <property name="wherefield" value="node_id"/>
        </include>
    </select>
    <select id="getAssigneeAndVariableByElementId" resultType="org.openoa.base.vo.BaseInfoTranStructVo">
        <bind name="whereValue" value="_parameter.elementId" />
        <include refid="common_assignee_query_sql">
            <property name="selectfield1" value="tbvs.assignee as id,tbvs.assignee_name as name,tbvs.assignee_param_name as varName,tbvs.id as variableId"/>
            <property name="selectfield2" value="tbvmp.assignee as id,tbvmp.assignee_name as name,tbvm.collection_name as varName,tbvmp.id as variableId"/>
            <property name="wherefield" value="element_id"/>
        </include>
    </select>
    <select id="getAssigneeAndVariableByNodeId" resultType="org.openoa.base.vo.BaseInfoTranStructVo">
        <bind name="whereValue" value="_parameter.nodeId" />
        <include refid="common_assignee_query_sql">
            <property name="selectfield1" value="tbvs.assignee as id,tbvs.assignee_name as name,tbvs.assignee_param_name as varName,tbvs.id as variableId"/>
            <property name="selectfield2" value="tbvmp.assignee as id,tbvmp.assignee_name as name,tbvm.collection_name as varName,tbvmp.id as variableId"/>
            <property name="wherefield" value="node_id"/>
        </include>
    </select>

</mapper>
