<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="org.openoa.common.mapper.BpmVariableMultiplayerMapper">


    <resultMap id="BaseResultMap"
               type="org.openoa.common.entity.BpmVariableMultiplayer">
        <id column="id" property="id"/>
        <result column="variable_id" property="variableId"/>
        <result column="element_id" property="elementId"/>
        <result column="element_name" property="elementName"/>
        <result column="collection_name" property="collectionName"/>
        <result column="sign_type" property="signType"/>
        <result column="remark" property="remark"/>
        <result column="is_del" property="isDel"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, variable_id AS variableId, element_id AS elementId,
		element_name AS
		elementName, collection_name AS collectionName,
		sign_type AS signType,
		remark, is_del AS isDel, create_user AS
		createUser, create_time AS
		createTime, update_user AS updateUser,
		update_time AS updateTime
    </sql>

    <select id="isMoreNode"
            resultType="org.openoa.common.entity.BpmVariableMultiplayer">
        SELECT a.*
        FROM t_bpm_variable_multiplayer a
                 LEFT JOIN t_bpm_variable b ON a.`variable_id` = b.`id`
                 LEFT JOIN `t_bpm_variable_multiplayer_personnel` c ON a.id =
                                                                       c.variable_multiplayer_id
        WHERE a.`element_id` =
              #{elementId}
          AND b.`process_num` = #{processNum}
          AND c.undertake_status = 0
    </select>
    <select id="getAssigneeByElementId" resultType="java.lang.String">
        select tbvs.assignee_name as assigneeName from t_bpm_variable tbv left join t_bpm_variable_single tbvs  on tbvs.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvs.element_id=#{elementId}
        union all
        select tbvmp.assignee_name from t_bpm_variable tbv
        left join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        left join t_bpm_variable_multiplayer_personnel tbvmp on tbvmp.variable_multiplayer_id=tbvm.id
        where tbv.process_num=#{processNum} and tbvm.element_id=#{elementId}
    </select>

</mapper>
