<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
        namespace="org.openoa.common.mapper.BpmVariableMultiplayerMapper">


    <resultMap id="BaseResultMap"
               type="org.openoa.common.entity.BpmVariableMultiplayer">
        <id column="id" property="id"/>
        <result column="variable_id" property="variableId"/>
        <result column="element_id" property="elementId"/>
        <result column="element_name" property="elementName"/>
        <result column="collection_name" property="collectionName"/>
        <result column="sign_type" property="signType"/>
        <result column="remark" property="remark"/>
        <result column="is_del" property="isDel"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, variable_id AS variableId, element_id AS elementId,
		element_name AS
		elementName, collection_name AS collectionName,
		sign_type AS signType,
		remark, is_del AS isDel, create_user AS
		createUser, create_time AS
		createTime, update_user AS updateUser,
		update_time AS updateTime
    </sql>

    <select id="isMoreNode"
            resultType="org.openoa.common.entity.BpmVariableMultiplayer">
        SELECT a.*,c.undertake_status AS undertakeStatus
        FROM t_bpm_variable_multiplayer a
                 LEFT JOIN t_bpm_variable b ON a.variable_id = b.id
                 LEFT JOIN t_bpm_variable_multiplayer_personnel c ON a.id =
                                                                       c.variable_multiplayer_id
        WHERE a.element_id =
              #{elementId}
          AND b.process_num = #{processNum}

    </select>

    <select id="getVarNameByElementId" resultType="java.lang.String">
        select tbvm.collection_name as variablename
        from t_bpm_variable tbv
        inner join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvm.element_id=#{elementId}
    </select>
    <select id="getAssigneeByElementId" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        select tbvmp.assignee as id, tbvmp.assignee_name as name
        from t_bpm_variable tbv
        left join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        left join t_bpm_variable_multiplayer_personnel tbvmp on tbvmp.variable_multiplayer_id=tbvm.id
        where tbv.process_num=#{processNum} and tbvm.element_id=#{elementId} and tbvmp.assignee_name is not null
    </select>

    <select id="getAssigneeByNodeId" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        select tbvmp.assignee as id, tbvmp.assignee_name as name
        from t_bpm_variable tbv
        left join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        left join t_bpm_variable_multiplayer_personnel tbvmp on tbvmp.variable_multiplayer_id=tbvm.id
        where tbv.process_num=#{processNum} and tbvm.node_id=#{nodeId} and tbvmp.assignee_name is not null
    </select>

    <select id="getNodeIdByElementId" resultType="java.lang.String">
        select tbvm.node_id
        from t_bpm_variable tbv
        inner join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvm.element_id=#{elementId}
    </select>
    <select id="getElementIdByNodeId" resultType="java.lang.String">
        select tbvm.element_id
        from t_bpm_variable tbv
        inner join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvm.node_id=#{nodeId}
    </select>
    <select id="getAssigneeAndVariableByElementId" resultType="org.openoa.base.vo.BaseInfoTranStructVo">
        select tbvmp.assignee as id, tbvmp.assignee_name as name, tbvm.collection_name as varName, tbvmp.id as variableId
        from t_bpm_variable tbv
        left join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        left join t_bpm_variable_multiplayer_personnel tbvmp on tbvmp.variable_multiplayer_id=tbvm.id
        where tbv.process_num=#{processNum} and tbvm.element_id=#{elementId} and tbvmp.assignee_name is not null
    </select>
    <select id="getAssigneeAndVariableByNodeId" resultType="org.openoa.base.vo.BaseInfoTranStructVo">
        select tbvmp.assignee as id, tbvmp.assignee_name as name, tbvm.collection_name as varName, tbvmp.id as variableId, tbvm.element_id
        from t_bpm_variable tbv
        left join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        left join t_bpm_variable_multiplayer_personnel tbvmp on tbvmp.variable_multiplayer_id=tbvm.id
        where tbv.process_num=#{processNum} and tbvm.node_id=#{nodeId} and tbvmp.assignee_name is not null
    </select>
    <select id="getNodeIdsByElementIds" resultType="org.openoa.base.dto.NodeXelementXvarXverifyInfo">
        select tbvm.node_id as nodeId, tbvm.element_id as elementId
        from t_bpm_variable tbv
        inner join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        where tbv.process_num=#{processNum} and tbvm.element_id in
        <foreach collection="elementIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getNodeByElementId" resultType="org.openoa.base.entity.BpmnNode">
        select tbn.*
        from t_bpm_variable tbv
        inner join t_bpm_variable_multiplayer tbvm on tbvm.variable_id=tbv.id
        inner join t_bpmn_node tbn on tbn.id=tbvm.node_id
        where tbv.bpmn_code=#{bpmnCode} and tbvm.element_id=#{elementId}
    </select>

</mapper>
