<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openoa.engine.bpmnconf.mapper.OutSideBpmAdminPersonnelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.openoa.base.entity.OutSideBpmAdminPersonnel">
        <id column="id" property="id"/>
        <result column="business_party_id" property="businessPartyId"/>
        <result column="type" property="type"/>
        <result column="employee_id" property="employeeId"/>
        <result column="remark" property="remark"/>
        <result column="is_del" property="isDel"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- common tool generated field list -->
    <sql id="Base_Column_List">
        id, business_party_id AS businessPartyId, type, employee_id AS employeeId, remark, is_del AS isDel, create_user AS createUser, create_time AS createTime, update_user AS updateUser, update_time AS updateTime
    </sql>

    <select id="getBusinessPartyIdByEmployeeId" resultType="java.lang.Integer">
        SELECT DISTINCT business_party_id FROM t_out_side_bpm_admin_personnel WHERE employee_id = #{employeeId}
        <if test="types != null and types.size > 0">
            AND type IN
            <foreach collection="types" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </select>

</mapper>
