<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openoa.base.mapper.UserMapper">

<select id="queryCompanyByNameFuzzy" resultType="org.openoa.base.vo.BaseIdTranStruVo">

    select id,org_name as name from t_company
    <where>
        <if test="companyName != null and companyName != ''">
            <bind name="comName" value="'%' + companyName + '%'" />
          and  org_name like #{comName}
        </if>
    </where>
    </select>
    <select id="queryByNameFuzzy" resultType="org.openoa.base.vo.BaseIdTranStruVo">
       <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.queryUserByNameFuzzy">

       </include>
    </select>
    <select id="queryByIds" resultType="org.openoa.base.vo.BaseIdTranStruVo">
       <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.queryUserByIds">

       </include>
    </select>
    <select id="getEmployeeDetailById" resultMap="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.employeeMap">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.findEmployeeInfoById">
        </include>
    </select>
    <select id="getEmployeeDetailByIds" resultMap="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.employeeMap">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.findEmployeeInfoByIds">
        </include>
    </select>
    <select id="checkEmployeeEffective" resultType="java.lang.Long">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.queryEffectiveEmployeeCount">
        </include>
    </select>
    <select id="getLevelLeadersByEmployeeIdAndTier" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.getLevelLeadersByEmployeeIdAndTier">

        </include>
    </select>
    <select id="getHrpbByEmployeeId" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.getHrpbByEmployeeId">

        </include>
    </select>
    <select id="getDirectLeaderByEmployeeId" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.getDirectLeaderByEmployeeId">

        </include>
    </select>

    <select id="selectAll" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        select    u.id , u.user_name as name
         from   t_user u
        left join  t_user_role ur on u.id = ur.user_id
        <where>
            <if test="roleId != null">
                ur.role_id = #{roleId}
            </if>
        </where>
        group by  u.id
        order by  u.id
    </select>

    <select id="selectUserPageList" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        select  u.id, u.user_name as name from t_user u
        <where>
            <if test="vo.description !=null and vo.description !=''">
                u.user_name like CONCAT("%",#{vo.description},"%")
            </if>
        </where>
        order by  u.id desc
    </select>

    <select id="getLeaderByLeventDepartment" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.getLeaderByLeventDepartment">

        </include>
    </select>
    <select id="getLevelLeadersByEmployeeIdAndEndGrade" resultType="org.openoa.base.vo.BaseIdTranStruVo">
        <include refid="org.openoa.engine.bpmnconf.mapper.AntFlowBaseMapper.getLevelLeadersByEmployeeIdAndEndGrade">

        </include>
    </select>
</mapper>