<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.openoa.engine.bpmnconf.mapper.UserEntrustMapper">


    <resultMap id="BaseResultMap" type="org.openoa.base.entity.UserEntrust">
        <id column="id" property="id"/>
        <result column="sender" property="sender"/>
        <result column="receiver_id" property="receiverId"/>
        <result column="power_id" property="powerId"/>
        <result column="begin_time" property="beginTime" jdbcType="NULL"/>
        <result column="end_time" property="endTime" jdbcType="NULL"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_user" property="createUser"/>
        <result column="update_user" property="updateUser"/>
    </resultMap>


    <sql id="Base_Column_List">
        id, sender, receiver_id as receiverId, receiver_name AS receiverName, power_id AS powerId, begin_time AS beginTime, end_time AS endTime, create_time AS createTime, update_time AS updateTime, create_user AS createUser, update_user AS updateUser
    </sql>


    <select id="getEntrustList" parameterType="map" resultType="org.openoa.base.vo.Entrust">
        select t.id            as id,
               s.`NAME_`       as `name`,
               receiver_id     as receiverId,
               s.processKey    as powerId,
               begin_time      as beginTime,
               end_time        as endTime,
               t.receiver_name as receiverName
        from (select substring_index(f.ID_, ":", 1) as processKey,
                     f.NAME_
              from ACT_RE_PROCDEF f,
                   (SELECT max(VERSION_) AS max_version, key_ AS key_
                    FROM ACT_RE_PROCDEF
                    WHERE key_ IN (SELECT key_ FROM ACT_RE_PROCDEF)
                    GROUP BY key_) a
              where VERSION_ = a.max_version
                AND f.key_ = a.key_
                AND f.KEY_ NOT IN ('process201804161617')
             ) s
                 left join t_user_entrust t
                           on s.processKey = substring_index(t.power_id, ":", 1) and t.sender = #{userId}
        group by s.processKey
        order by t.create_time desc
    </select>

    <select id="getEntrustListNew" parameterType="map" resultType="org.openoa.base.vo.Entrust">
        select t.id            as id,
               s.`name`        as `name`,
               t.receiver_id   as receiverId,
               s.code          as powerId,
               t.begin_time    as beginTime,
               t.end_time      as endTime,
               t.receiver_name as receiverName
        from t_process_entrust as s
                 left join t_user_entrust t
                           on s.code = substring_index(t.power_id, ":", 1) and t.sender = #{userId}
        where s.is_del = 0
        group by s.code
    </select>

    <select id="getEntrustPageList" parameterType="map" resultType="org.openoa.base.vo.Entrust">
        select t.id     as id,
        u.user_name     as `name`,
        t.sender        as sender,
        t.receiver_id   as receiverId,
        t.power_id      as powerId,
        t.begin_time    as beginTime,
        t.end_time      as endTime,
        t.receiver_name as receiverName,
        t.create_time   as createTime
        from t_user_entrust as t
        left join t_user u on t.sender  = u.id
        where 1 = 1
        <if test="userId != null and  userId !=''">
            and (t.sender = #{userId} or t.receiver_id = #{userId})
        </if>
        order by t.create_time desc
    </select>

</mapper>
